<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="pt-BR">

  <info>
    <!-- The text title is used on the help.gnome.org -->
    <title type="text">Ajuda do Visualizador de área de trabalho remota</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Aprenda como se conectar remotamente a outras áreas de trabalho.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="figures/preferences-desktop-remote-desktop.png"/> Visualizador de área de trabalho remota</title>

  <section id="connections" style="2column">
    <title>Conectando-se a outros computadores usando VNC</title>
  </section>

  <section id="options" style="2column">
    <title>Recursos e opções</title>
  </section>

</page>
