<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="scaling" xml:lang="fr">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Redimensionner le bureau distant pour l'adapter à la zone d'affichage.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Redimensionnement du bureau distant</title>

  <p>Certains protocoles possède une option pour redimensionner le bureau distant afin de l'adapter à votre zone d'affichage.</p>

  <steps>
    <item>
      <p>Choisissez <guiseq><gui>Affichage</gui><gui>Mise à l'échelle</gui></guiseq> ou cliquez sur le bouton <gui>Mise à l'échelle</gui> de la barre d'outils.</p>
    </item>
    <item>
      <p>Sélectionnez <guiseq><gui style="menu">Affichage</gui><gui style="menuitem">Conserver le rapport d'affichage</gui></guiseq> si vous voulez obliger le rapport d'affichage à s'adapter à l'intérieur de la zone d'affichage, ou dé-sélectionnez cette option pour que le bureau distant s'étire à tout l'espace disponible.</p>
      <note>
        <p>Cette option ne peut être basculée que si l'option <gui>Mettre à l'échelle</gui> a été activée.</p>
      </note>
    </item>
  </steps>

</page>
