<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="de">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Aktuellen entfernten Rechner im Vollbildmodus darstellen.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2009, 2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2009,2014,2016.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Vollbildmodus</title>

  <p>Der Vollbildmodus ist nützlich, wenn man einen entfernten Bildschirm betrachtet, der gleich groß oder größer als der eigene ist.</p>

  <steps>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Ansicht</gui><gui style="menuitem">Vollbild</gui></guiseq> oder klicken Sie den zugehörigen Knopf auf der Werkzeugleiste, um den Anzeigebereich im Vollbild-Modus anzuzeigen.</p>
    </item>
  </steps>

  <note>
    <p>Bewegen Sie im Vollbildmodus die Maus zur oberen Mitte des Bildschirms, um die verborgene Werkzeugleiste einzublenden. Diese enthält Knöpfe wie <gui style="button">Vollbildmodus verlassen</gui>, <gui style="button">Verbindung trennen</gui> und weitere Optionen.</p>
  </note>

</page>
