<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="lv">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Deaktivizēt darbošanos ar attālināto darbvirsmu.</desc>
  </info>

  <title>Tikai skatīšanās režīms</title>

  <p>Daži protokoli atļauj jums aktivizēt <gui>Tikai skatīšanās</gui> režīmu. Šis režīms atļauj jums deaktivēt jebkādu darbību ar attālināto darbvirsmu.</p>
  <p>Izvēlieties <guiseq><gui style="menu">Skats</gui><gui style="menuitem">Tikai skatīšanās</gui></guiseq>, vai arī spiediet atbilstošo rīkjoslas pogu, lai aktivizētu šo režīmu.</p>

</page>
