<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="el">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Προβολή της απομακρυσμένης επιφάνειας εργασίας σε λειτουργία πλήρους οθόνης.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bασίλης Τσιβίκης</mal:name>
      <mal:email>vasitsiv.dev@gmail.com</mal:email>
      <mal:years>2011 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Λειτουργία πλήρους οθόνης</title>

  <p>Η λειτουργία πλήρους οθόνης μπορεί να είναι χρήσιμη αν προβάλετε μια επιφάνεια εργασίας που είναι του ίδιου μεγέθους ή μεγαλύτερη από την δική σας.</p>

  <steps>
    <item>
      <p>Επιλέξτε <guiseq><gui style="menu">Προβολή</gui> <gui style="menuitem">Πλήρης οθόνη</gui></guiseq>, ή πατήστε το αντίστοιχο κουμπί εργαλειοθήκης, για να προβάλετε τη περιοχή προβολής σε λειτουργία πλήρους οθόνης.</p>
    </item>
  </steps>

  <note>
    <p>Ενώ είστε σε λειτουργία πλήρους οθόνης, μετακινήστε το ποντίκι στο επάνω-κέντρο της οθόνης για να εμφανίσετε μια κρυμμένη εργαλειοθήκη, η οποία έχει ένα κουμπί <gui style="button">Έξοδος πλήρους οθόνης</gui>, <gui style="button">Αποσύνδεση</gui> και άλλα κουμπιά.</p>
  </note>

</page>
