<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="el">

  <info>
    <!-- The text title is used on the help.gnome.org -->
    <title type="text">Βοήθεια του πρόγραμματος Προβολής απομακρυσμένης επιφάνειας εργασίας</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Μάθετε πως να συνδέεσθε απομακρυσμένα με άλλες επιφάνειες εργασίας.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bασίλης Τσιβίκης</mal:name>
      <mal:email>vasitsiv.dev@gmail.com</mal:email>
      <mal:years>2011 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="figures/preferences-desktop-remote-desktop.png"/> Πρόγραμμα προβολής απομακρυσμένης επιφάνειας εργασίας</title>

  <section id="connections" style="2column">
    <title>Σύνδεση σε άλλους υπολογιστές χρησιμοποιώντας VNC</title>
  </section>

  <section id="options" style="2column">
    <title>Χαρακτηριστικά και επιλογές</title>
  </section>

</page>
