<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="id">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Tilik desktop remote dalam mode layar penuh.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016.</mal:years>
    </mal:credit>
  </info>

  <title>Mode layar penuh</title>

  <p>Mode layar penuh bisa berguna bila menilik suatu desktop yang berukuran sama atau lebih besar daripada milik Anda.</p>

  <steps>
    <item>
      <p>Pilih <guiseq><gui style="menu">Tilik</gui> <gui style="menuitem">Layar Penuh</gui></guiseq>, atau tekan tombol bilah alat yang sesuai, untuk melihat area tampilan dalam mode layar penuh.</p>
    </item>
  </steps>

  <note>
    <p>Ketika dalam mode layar penuh, pindahkan tetikus ke puncak-tengah layar untuk menampilkan bilah alat yang tersembunyi, yang memiliki <gui style="button">Tinggalkan Layar Penuh</gui>, <gui style="button">Disconnect</gui> dan tombol lainnya.</p>
  </note>

</page>
