<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="take-screenshot" xml:lang="id">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ambil cuplikan layar dari desktop jauh.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016.</mal:years>
    </mal:credit>
  </info>

  <title>Ambil cuplikan layar</title>

  <p>Anda dapat mengambil cuplikan layar dari hanya desktop yang sedang tersambung dengan memakai perkakas yang disediakan oleh <app>Penampil Desktop Jauh</app>.</p>

  <steps>
    <item>
      <p>Pilih <guiseq><gui style="menu">Jarak Jauh</gui> <gui style="menuitem">Ambil cuplikan layar</gui></guiseq>, atau klik tombol <gui>Ambil Cuplikan Layar</gui> pada bilah alat.</p>
    </item>
    <item>
      <p>Dalam ruas <gui>Nama</gui>, masukkan nama berkas tempat Anda ingin menyimpan cuplikan layar.</p>
    </item>
    <item>
      <p>Dari daftar drop down <gui>Simpan dalam folder</gui>, pilih folder tempat Anda ingin menyimpan cuplikan layar. Anda juga bisa mengklik <gui>Ramban folder lain</gui> untuk memilih lainnya yang tidak ada dalam daftar drop down.</p>
    </item>
    <item>
      <p>Klik <gui style="button">Simpan</gui> untuk menyimpan cuplikan layar.</p>
    </item>
  </steps>

</page>
