<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="hu">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Gyorsbillentyűk távoli gépre küldésének letiltása.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>n0m4dm4n</mal:name>
      <mal:email>n0m4dm4n at gmail dot com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Gyorsbillentyűk</title>

  <p>A gyorsbillentyűket a <guiseq><gui style="menu">Nézet</gui> <gui style="menuitem">Gyorsbillentyűk</gui></guiseq> menüpont kiválasztásával engedélyezheti vagy tilthatja le.</p>

  <p>Ezen beállítás kiválasztása lehetővé teszi a gyorsbillentyűk (mint a <keyseq><key>Ctrl</key><key>N</key></keyseq>) és a hívóbetűk (mint az <keyseq><key>Alt</key><key>M</key></keyseq>) használatát a <app>Távoli asztalok megjelenítése</app> programban. Ekkor a kombinációkat a <app>Távoli asztalok megjelenítése</app> nem küldi el a távoli számítógépnek, hanem elfogja. Ez a beállítás alapesetben ki van kapcsolva, mert a legtöbb esetben a csatlakoztatott távoli számítógép irányítására van szükség.</p>

  <note>
    <p>Ha a <gui>Gyorsbillentyűk</gui> le vannak tiltva, akkor a <keyseq><key>Ctrl</key><key>Alt</key><key>Delete</key></keyseq> az egyetlen kombináció, amely nem használható a távoli számítógépen. Az elküldéséhez válassza a <guiseq><gui style="menu">Távoli</gui> <gui style="menuitem">Ctrl-Alt-Del küldése</gui></guiseq> menüpontot, vagy az eszköztár megfelelő gombját.</p>
  </note>

</page>
