<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="scaling" xml:lang="hu">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0 Így add tovább!</p>
    </license>

    <desc>Távoli asztal felbontásának beállítása a képernyő kitöltésére.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>n0m4dm4n</mal:name>
      <mal:email>n0m4dm4n at gmail dot com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Távoli asztal felbontásának beállítása</title>

  <p>Bizonyos kapcsolattípusoknál a távoli asztal felbontása a megjelenítési területhez igazítható.</p>

  <steps>
    <item>
      <p>Válassza a <guiseq><gui style="menu">Nézet</gui> <gui style="menuitem">Méretezés</gui></guiseq> menüpontot, vagy kattintson a <gui>Méretezés</gui> gombra az eszköztáron.</p>
    </item>
    <item>
      <p>Válassza a <guiseq><gui style="menu">Nézet</gui> <gui style="menuitem">Méretarány megtartása</gui></guiseq> menüpontot, ekkor a távoli asztal képe megtartja eredeti méretarányait, vagy kapcsolja ki ezt a beállítást, ekkor a távoli asztal képe kitölti a teljes rendelkezésre álló helyet.</p>
      <note>
        <p>Ez a beállítás csak akkor érhető el, ha a <gui>Méretezés</gui> engedélyezve van.</p>
      </note>
    </item>
  </steps>

</page>
