<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="take-screenshot" xml:lang="hu">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Képernyőkép készítése a távoli asztalról.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>n0m4dm4n</mal:name>
      <mal:email>n0m4dm4n at gmail dot com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Képernyőkép készítése</title>

  <p>A <app>Távoli asztalok megjelenítése</app> által biztosított eszközzel csak a csatlakoztatott asztalról készíthet képernyőképeket.</p>

  <steps>
    <item>
      <p>Válassza a <guiseq><gui style="menu">Távoli</gui> <gui style="menuitem">Képernyőkép készítése</gui></guiseq> menüpontot, vagy kattintson a <gui>Képernyőkép készítése</gui> gombra az eszköztáron.</p>
    </item>
    <item>
      <p>A <gui>Név</gui> mezőben adja meg a mentendő képernyőkép fájlnevét.</p>
    </item>
    <item>
      <p>A <gui>Mentés mappába</gui> legördülő listában válassza ki a mentés helyét. Ha nem találja a kívánt mappát, akkor kattintson az <gui>Egyéb mappák böngészése</gui> elemre, és válassza ki a kívánt mappát.</p>
    </item>
    <item>
      <p>Kattintson a <gui style="button">Mentés</gui> gombra a kép elmentéséhez.</p>
    </item>
  </steps>

</page>
