<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="hu">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0 Így add tovább!</p>
    </license>

    <desc>A távoli asztal irányításának letiltása.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>n0m4dm4n</mal:name>
      <mal:email>n0m4dm4n at gmail dot com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Csak megtekintés mód</title>

  <p>Egyes kapcsolattípusoknál engedélyezhető a <gui>Csak megtekintés</gui> mód. Ebben a módban teljesen letilthatja a távoli asztal használatát.</p>
  <p>Válassza a <guiseq><gui style="menu">Nézet</gui> <gui style="menuitem">Csak megtekintés</gui></guiseq> menüpontot, vagy kattintson az eszköztár megfelelő gombjára.</p>

</page>
