<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="connect-file" xml:lang="gl">

  <info>
    <link type="guide" xref="index#connections"/>
    <link type="seealso" xref="connect"/>
    <title type="sort">2</title>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

    <desc>Use o ficheiro de conexión remota para conectarse a unha máquina remota.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

  <title>Conectarse con un ficheiro <file>.vnc</file></title>

  <p>Seleccione os <em>ficheiros de conexión remota</em> distribuída de equipos (xeralmente rematan co sufixo <file>.vnc</file>) no lugar de usar un enderezo e porto de computador.</p>

  <steps>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Remoto</gui><gui style="menuitem">Abrir</gui></guiseq>.</p>
    </item>
    <item>
      <p>Seleccione o ficheiro que quere abrir.</p>
    </item>
    <item>
      <p>Prema no botón <gui style="button">Abrir</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Tamén pode abrir un ficheiro de conexión remota desde <app>Ficheiros</app>.</p>
  </note>

</page>
