<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="gl">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Desactivar o envío de atallos de teclado á máquina remota.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

  <title>Atallos de teclado</title>

  <p>Pode activar ou desactivar os atallos de teclado premendo <guiseq><gui style="menu">Ver</gui><gui style="menuitem">Atallos de teclado</gui></guiseq>.</p>

  <p>Enabling this option allows the use of keyboard shortcuts (like
  <keyseq><key>Ctrl</key><key>N</key></keyseq>), menu accelerators (such as
  <keyseq><key>Alt</key><key>M</key></keyseq>) and mnemonics, with <app>Remote
  Desktop Viewer</app>. This means that <app>Remote Desktop Viewer</app> will
  catch those key combinations instead of sending them to the remote machine.
  This option is disabled by default because most of the time, you will be
  interacting with the computer to which you are connected.</p>

  <note>
    <p>Cando a opción <gui>Atallos de teclado</gui> está desactivada, <keyseq><key>Ctrl</key><key>Alt</key><key>Suprimir</key></keyseq> será a única combinación que non será enviada ao escritorio remoto. Seleccione <guiseq><gui style="menu">Remoto</gui><gui style="menuitem">Enviar Ctrl-Alt-Suprimir</gui></guiseq>, ou use a barra de ferramentas correspondente, para enviar esta combinación.</p>
  </note>

</page>
