<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="scaling" xml:lang="es">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

    <desc>Escalar el escritorio remoto para que se ajuste al área mostrado.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  </info>

  <title>Escalar el escritorio remoto</title>

  <p>Algunos protocolos tienen una opción para escalar los escritorios remotos y que se ajusten al área de su pantalla.</p>

  <steps>
    <item>
      <p>Elija <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Escalado</gui></guiseq> o pulse el botón <gui>Escalado</gui> en la barra de herramientas.</p>
    </item>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Mantener proporción</gui></guiseq> si quiere mantener constante el aspecto del escritorio remoto dentro del área de su pantalla, o deseleccione la opción para ajustar el escritorio remoto y llenar el área disponible.</p>
      <note>
        <p>Esta opción se puede cambiar si <gui>Escalado</gui> ya se ha activado.</p>
      </note>
    </item>
  </steps>

</page>
