<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>禁止键盘快捷键发送到远程计算机。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>键盘快捷键</title>

  <p>您可以通过点击<gui style="menu">查看</gui><guiseq><gui style="menuitem">键盘快捷键</gui></guiseq>来启用/禁用键盘快捷键。</p>

  <p>Enabling this option allows the use of keyboard shortcuts (like
  <keyseq><key>Ctrl</key><key>N</key></keyseq>), menu accelerators (such as
  <keyseq><key>Alt</key><key>M</key></keyseq>) and mnemonics, with <app>Remote
  Desktop Viewer</app>. This means that <app>Remote Desktop Viewer</app> will
  catch those key combinations instead of sending them to the remote machine.
  This option is disabled by default because most of the time, you will be
  interacting with the computer to which you are connected.</p>

  <note>
    <p>当禁用<gui>键盘快捷键</gui>选项时，<keyseq><key>Ctrl</key><key>Alt</key> <key>Delete</key></keyseq>是唯一不会发送到远程主机的按键组合。选择<guiseq><gui style="menu">远程</gui> <gui style="menuitem">发送 Ctrl-Alt-Delete</gui></guiseq>，或使用相应的工具栏按钮，可发送该按键组合。</p>
  </note>

</page>
