<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>知识共享相同方式共享 3.0</p>
    </license>

    <desc>禁用与远程桌面的交互。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>仅查看模式</title>

  <p>某些协议允许您启用<gui>仅查看</gui>模式。该模式允许您阻断所有与远程计算机的交互。</p>
  <p>选择 <guiseq><gui style="menu">查看</gui> <gui style="menuitem">仅查看</gui></guiseq> 或点击对应的工具栏按钮启动此模式。</p>

</page>
