<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="ru">

  <info>
    <!-- The text title is used on the help.gnome.org -->
    <title type="text">Remote Desktop Viewer help</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Learn how to connect remotely to other desktops.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>
    <media type="image" mime="image/png" its:translate="no" src="figures/preferences-desktop-remote-desktop.png"/>
    Remote Desktop Viewer
  </title>

  <section id="connections" style="2column">
    <title>Подключение к другим компьютерам с помощью VNC</title>
  </section>

  <section id="options" style="2column">
    <title>Features and options</title>
  </section>

</page>
