<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="scaling" xml:lang="ru">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Масштабирование удалённого рабочего стола в соответствии с окном просмотра.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Масштабирование удалённого рабочего стола</title>

  <p>Некоторые протоколы имеют возможность масштабирования удалённого рабочего стола в соответствии с окном просмотра.</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Scaling</gui></guiseq>, or click the
      <gui>Scaling</gui> toolbar button.</p>
    </item>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Keep Aspect Ratio</gui></guiseq> if you want to
      constrain the aspect ratio of the remote desktop inside the display area,
      or deselect the option to stretch the remote desktop to fill the
      available space.</p>
      <note>
        <p>Эту опцию можно активировать только когда включено <gui>Масштабирование</gui>.</p>
      </note>
    </item>
  </steps>

</page>
