<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="connect-file" xml:lang="cs">

  <info>
    <link type="guide" xref="index#connections"/>
    <link type="seealso" xref="connect"/>
    <title type="sort">2</title>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Použijte k připojení ke vzdálenému počítači soubor s definicí vzdáleného připojení.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Jak se připojit pomocí souboru <file>.vnc</file></title>

  <p>Někteří hostitelé dávají na místo adresy a portu k dispozici <em>soubory s definicí vzdáleného připojení</em>, obvykle s příponou <file>.vnc</file>.</p>

  <steps>
    <item>
      <p>Vyberte <guiseq><gui style="menu">Vzdálené</gui> <gui style="menuitem">Otevřít</gui></guiseq>.</p>
    </item>
    <item>
      <p>Vyberte soubor, který chcete otevřít.</p>
    </item>
    <item>
      <p>Klikněte na tlačítko <gui style="button">Otevřít</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Soubor s definicí vzdáleného připojení můžete otevřít také z apliace <app>Soubory</app>.</p>
  </note>

</page>
