<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="cs">

  <info>
    <link type="guide" xref="index"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>
    <revision pkgversion="3.16" date="2015-03-02" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Úvod do <app>Prohlížeče vzdálené plochy</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Úvod</title>

  <p><app>Prohlížeč vzdálené plochy</app> je aplikace GNOME sloužící k zobrazení vzdálené plochy. Pro přístup k ostatním počítačům používá VNC (Virtual Network Computing) a další obdobné protokoly. Můžete ji použít jak k ovládání a interakci s jiným počítačem, tak jen k prostému zobrazení jeho plochy.</p>

  <p><app>Prohlížeč vzdálené plochy</app> poskytuje následující funkce:</p>
  <list>
    <item><p>připojení k několika počítačům naráz</p></item>
    <item><p>ukládání nedávných připojení a záložek k nim</p></item>
    <item><p>procházení místní sítě pro vyhledání počítačů</p></item>
  </list>

  <figure>
    <title>Prohlížeč vzdálené plochy v činnosti</title>
    <media type="image" mime="image/png" src="figures/vinagre-connected-3-16.png">
      <p>Prohlížeč vzdálené plochy běžící v GNOME 3 a připojený k počítači provozujícímu GNOME 2</p>
    </media>
  </figure>

</page>
